<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated qualificationData -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="qualificationData.presentation.QualificationDataModelWizardID"
            name="%_UI_QualificationDataModelWizard_label"
            class="qualificationData.presentation.QualificationDataModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/QualificationDataModelFile.gif">
         <description>%_UI_QualificationDataModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated qualificationData -->
      <editor
            id="qualificationData.presentation.QualificationDataEditorID"
            name="%_UI_QualificationDataEditor_label"
            icon="icons/full/obj16/QualificationDataModelFile.gif"
            extensions="qualificationdata"
            class="qualificationData.presentation.QualificationDataEditor"
            contributorClass="qualificationData.presentation.QualificationDataActionBarContributor">
      </editor>
   </extension>

</plugin>
